<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     EcommApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">DemoApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Ready to receive your wishlist?</p>
    <ion-button fill="solid" expand="block" color="dark" (click)="no()">Register</ion-button>
    <span class="divider line one-line">or</span>

    <span class="already">Already a user?</span>
    <ion-button fill="solid" expand="block" color="dark" (click)="yes()">Login</ion-button>
  </div>
  

</ion-content>
